<!DOCTYPE html>
<html lang="en">
  <%- include('partials/head') %>
  <body>
    <div class="container">
      <%- include('partials/navbar') %>

      <div class="row justify-content-center mt-5">
        <div class="card col-lg-4">
          <div class="card-header text-center font-weight-bold">
            CREATE ROOM
          </div>
          <div class="card-body">
            <form method="POST" action="/room">
              <div class="form-group">
                <label for="username">Room Name :</label>
                <input
                  type="text"
                  name="room_name"
                  class="form-control"
                  placeholder="Room Name"
                  aria-required=""
                />
              </div>

              <div class="text-center">
                <button type="submit" class="btn btn-primary">Create</button>
                <button type="reset" class="btn btn-danger">Clear</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
