<!DOCTYPE html>
<html lang="en">
  <%- include('partials/head') %>
  <body>
    <div class="container">
      <%- include('partials/navbar') %>
      <h1 class="mt-5">Selamat Datang di Game Swit</h1>
      <h5>Harap login dahulu</h5>

  </body>
</html>